// bower:scss
// endbower

// @import "base/normalize"; // Looks like normalise already added. Sass auto adds?
@import "base/normalize";
@import "base/mixins";
@import "base/settings-utils";

@import "design-elements/colors";
@import "design-elements/fonts";
@import "design-elements/fields";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (orientation: landscape) {
  @import "conditional/ie11";
}

body {
  background: $colors-black;
  font-size: 32px;
  font-size: calc(5px + 1.3vw + 1.3vh);
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-family: 'Fabrikat-Regular', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Component: centering

// Rough centering for non-flex compatible browsers
%center {
  margin: auto;
  margin-top: 20%;
}

.flexbox {
  %center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
    // Rough centering for non-flex compatible browsers
    %center {
      margin: 0;
    }
}

%bg {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

%reveal {
  opacity: 0;
  // transform: translateY(10%);
  transition:
    opacity $settings-easing,
    transform $settings-easing;
  &.js-in {
    opacity: 1;
    transform: translate(0%);
  }
}

// Media

img {
  max-width: 100%;
  height: auto;
}

// Typography

p {
  margin: 0.5em 0;
}

// Component: button

%button, .button {
  background: $colors-white;
  color: $colors-black;
  padding: 0.7em $v-unit*3 0.5em;
  margin-bottom: $small-v-unit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

// Component: down arrow

$down-arrow-width: 7%;

.down-arrow {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -$down-arrow-width/2;
  width: $down-arrow-width;
  @media screen and (orientation : portrait) {
    margin-left: -$down-arrow-width;
    width: $down-arrow-width*2;
  }
  outline: none !important;
  z-index: 100;
  animation-name: throb;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  &.js-out {
    opacity: 0 !important;
    z-index: -1;
  }
}

@keyframes throb {
  from {opacity: 0.5}
  to {opacity: 1}
}

// Component: sections

$section-height: 100vh;
$section-height-fallback: 480px;
$section-1-height: $section-height*1.8;
$section-1-height-fallback: $section-height-fallback*1.5;

main {
  overflow: hidden;
}

.section {
  // min-height: $section-height-fallback;
  height: $section-height;
  @extend %bg;
}

  .section-container {
    @extend %center-container;
    height: $section-height;
    padding: $small-v-unit;
  }

    .section-text {
      @extend %center;
      color: $colors-white;
      text-align: center;
      max-width: 30em;
      span {
        @media all and (min-width: $breakpoint-1) {
          display: block;
        }
      }
    }

.section-0 {
  position: absolute;
  top: 0;
  width: 100%;
}

.section-1 {
  // min-height: $section-height-fallback;
  height: $section-1-height;
  background-image: url(../images/top-bg-4.jpg);
}

$section-text-shadow-offset: 10%;

%section-text-shadow {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100% + $section-text-shadow-offset;
    height: 120% + $section-text-shadow-offset;
    position: absolute;
    top: -$section-text-shadow-offset/2;
    left: - $section-text-shadow-offset/2;
    background: radial-gradient(ellipse at center, black 0%, rgba(0, 0, 0, 0) 67%);
  }
  > * {
    position: relative;
  }
}

.section-2 {
  margin-top: $section-height-fallback - $section-1-height-fallback;
  margin-top: $section-height - $section-1-height;
  width: 100%;
  position: absolute;
  // top: $section-height-fallback;
  top: $section-height;
  .section-text {
    @extend %section-text-shadow;
    &:before {
      top: -(20% + $section-text-shadow-offset/2);
    }
  }
}

.section-3 {
  background-image: url(../images/bottom-bg-1.jpg);
  .section-container {
    padding-top: 5%;
    padding-bottom: 3%;
    padding-bottom: calc(5% - $small-v-unit);
    justify-content: space-between;
  }
    .section-text {
      @extend %section-text-shadow;
    }
}

// Component: header

.header {
  max-width: 51%;
  min-width: 300px;
}

// Component: table

%table-bg {
  background-size: auto 100%;
  background-position: bottom;
  // max-width: 176vh;
  margin: auto;
}

.table-container {
  // min-height: $section-height-fallback;
  height: $section-height;
  position: relative;
    // background: rgba(236, 235, 67, 0.3);
}

  .table-text-container {
    @extend .section-container;
    // min-height: $section-height-fallback/2;
    height: $section-height/2;
    @extend %bg;
    @extend %table-bg;
    background-image: url(../images/middle-top-bg-3.png);
  }

  .table {
    // min-height: $section-height-fallback/2;
    height: $section-height/2;
    // max-height: 10vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @extend %bg;
    @extend %table-bg;
    background-image: url(../images/middle-bottom-bg-3.jpg);
  }

// Component: cta

.cta {
  text-transform: uppercase;
  &:before {
    opacity: 0.3
  }
}

  .cta-text {
    font-size: 0.8em;
  }

  .js-cta-link {
    padding: 0.5em 2em 0.3em;
  }

.js .js-cta-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @extend %reveal;
  transition: opacity 0.5s $settings-bez;
  &.js-in {
    z-index: 20;
  }
}

  .cta-modal-form {
    font-size: 0.8em;
    font-size: calc(0.3em + 1.9vh);
    @media screen and (min-width: $breakpoint-2) {
      font-size: 0.6em;
    }
    line-height: 2em;
    // line-height: 0.4em;
    background: transparentize($colors-black, 0.1);
    color: $colors-white;
    padding: 3% 3% 2%;
    padding: calc(3% - $small-v-unit);
    max-width: 80%;
    width: 600px
  }

// Component: kol

h2 {
  font-size: 1.333em;
  margin-top: 0;
  text-transform: uppercase;
}

// Todo: fallback
.no-js {
}

// Component: footer logo

.footer-logo {
  min-width: 200px;
  width: 40%;
}

// Component: reveal

.js .js-reveal {
  @extend %reveal;
}

.js .js-bottom-reveal {
  @extend %reveal;
}

// Component: parallax

@media screen and (orientation: landscape) {

  // Note: IE 11 supports 3D transforms but not transform-style: preserve3d
  .js.preserve3d {
    @import "base/parallax";
    .section-1 {
      top: -5%;
    }

    .header-logo {
      margin-top: 10%;
    }
    .section-2 {
      margin-top: $section-1-height - 70vh; // Massaged - todo: make this programmatic
    }
    .section-3 {
      margin-top: $section-1-height;
      overflow: hidden;
    }
  }
}

// Alternatively, tweak the heights

@media screen and (orientation: portrait) {

  $section-additional: 42vh;

  .section-1 {
    height: 120vh;
  }
  .section-2 {
    top: 100vh + $section-additional;
  }
  .section-3 {
    margin-top: $section-additional;
  }
}

/* ipad */
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

// }
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
// }
// /* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body {
    font-size: 19px;
  }
}
// /* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}
